form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 500px;
	height: 600px;
	margin-top: 100px;
	font-family: Avenir, sans-serif;
	color: #333539;
}
input{
	height: 30px;
	background: transparent;
	border: 4px solid #ebecf0;
	margin-top: 10px;
	margin-bottom: 10px;
}
textarea{
	background: transparent;
	border: 4px solid #ebecf0;
}
button{
	width: 70px;
	height: 40px;
}
#valideemail, #validetel{
	color: rgb(142 20 40);
}
.message{
	color: red;
    visibility: hidden;
    padding-bottom: 50px;
}