*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
body{
	background-color: #FFFFFF;
	background-image: linear-gradient(12deg, #FFFFFF 0%, #7b7b7d 50%, #000000 100%);
    height: 100vh; 
    width: 100vw ;
}
nav{
    
    width: 100%;
    top: 0px;
    box-shadow: 0px 0px 10px 4px rgba(233, 223, 223, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(233, 223, 223, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(233, 223, 223, 0.75);
}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    border-bottom: 2px solid transparent;
    padding: 18px 0px;
	transition: all 1s ease-out;
}
nav a:hover{
    color: #ED8814;
    box-shadow: 0px 0px 10px 4px rgba(233, 223, 223, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(233, 223, 223, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(233, 223, 223, 0.75);
}
.cercle{
    border-radius: 50%;
    position: relative;
    display: block;
    width:496px;
    height:470px;
    margin-top: 150px;
    box-shadow: 7.51px 7.51px 100px #D9DADE, -7.51px -7.51px 100px #FFFFFF;
    
}
.pf{
    user-select: none;
    top: 42px;
    left: 378px;
    transform: translate(10%);
    position: absolute;
    font-size: 40px;
    text-transform: uppercase;
    color: #a1a1a2;
    text-shadow: 2px 1px 0 #96968e, 15px 13px 8px #aba8a8;
}
}.pf:nth-child(1){
    top:44px;
}
.pf:nth-child(2){
    top:78px;
    left: 409px
}
.pf:nth-child(3){
    top:121px;
    left: 420px;
}
.rondpf {
    top: 150px;
    width: 431px;
    height: 431px;
    position: relative;
    border-radius: 100%;
    box-shadow: 3.91px 3.91px 33px #d9dade, -2.91px 0.09px 23px #ffffff;
    shape-outside: circle(50%);

}
.rondpf:hover{
    box-shadow: 7.91px 3.91px 15px #d9dade, -3.91px 2.09px 15px #ffffff;
}
.rondpf:active{
    box-shadow: 0px 0px #ffffff;
}