.container{
    display: flex;
    flex-direction: row;
    perspective: 500px;
}
.interet{
    margin:30px;
    padding-top: 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 150px;
}
.card{
    transition: 
    transform-style: preserve-3d;
    min-height: 50vh;
    width: 20rem;
    border-radius: 15%;
    padding: 0 5rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
}
.image{
   margin-top: 70px;
   min-height: 35vh;
   display: flex;
   justify-content: center; 
}
.image img{
    width: 10rem;
    height: 10rem;
    z-index: 2;
    transition: all 0.75s ease-out;
}
.circle{
    width: 5rem;
    height: 5rem;
    background: lightblue;
    position: absolute;
    border-radius: 50%
    z-index: 1;
}
.info h1{
    font-size: 3rem;
    transition: all 0.75s ease-out;
}
.info h3{
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
}