.rond1{
	font-weight:bold;
	margin-top: 25px;
	height: 450px;
	width: 450px;
	/*border: solid 2px black;*/
	border-radius: 50%;
	background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 89%, rgba(255,255,255,1) 100%);
}

.rond2{
	padding-top: 5px;
	height: 500px;
	width: 500px;
	/*border: solid 2px black;*/
	border-radius: 50%;
	background: rgb(106,115,114);
background: radial-gradient(circle, rgba(106,115,114,1) 0%, rgba(22,22,21,1) 60%, rgba(255,255,255,1) 100%);
}
.bouton{
	margin-top: 150px;
}


#warped {position: relative; display: block; width:588pt; height:440pt;color: white;}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{font-family:'ABeeZee';font-size:75pt;font-weight:regular;font-style:normal;
line-height:0.65; white-space:pre; overflow:visible; padding:0px;}

#warped .w0 {-moz-transform: rotate(6.69rad);-webkit-transform: rotate(6.69rad);-o-transform:
rotate(6.69rad);-ms-transform: rotate(6.69rad); transform: rotate(6.69rad);
width: 42pt; height: 48pt; left: 59.23pt; top: 244.06pt;}

#warped .w1 {-moz-transform: rotate(6.38rad);-webkit-transform: rotate(6.38rad);-o-transform:
rotate(6.38rad);-ms-transform: rotate(6.38rad); transform: rotate(6.38rad);
width: 54pt; height: 48pt; left: 112.92pt; top: 259.89pt;}

#warped .w2 {-moz-transform: rotate(6.07rad);-webkit-transform: rotate(6.07rad);-o-transform:
rotate(6.07rad);-ms-transform: rotate(6.07rad); transform: rotate(6.07rad);
width: 42pt; height: 48pt; left: 180.6pt; top: 256.85pt;}

#warped .w3 {-moz-transform: rotate(5.77rad);-webkit-transform: rotate(5.77rad);-o-transform:
rotate(5.77rad);-ms-transform: rotate(5.77rad); transform: rotate(5.77rad);
width: 54pt; height: 48pt; left: 232.45pt; top: 235.23pt;}
